################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeleteJPGImages/.vs/DeleteJPGImages/v16
/DeleteJPGImages/DeleteJPGImages/obj/Debug
/DeleteJPGImages/DeleteJPGImages/bin/Debug
